[main]
# The location of the input CSV file.  If a relative path is provided, it is
# interpreted relative to the location of this configuration file.
inputcsv = ButterflyNet.csv

# The system of rank names to use.
# 1 = animals
# 2 = plants, using phyla and its derivatives
# 3 = plants, using divisions and its derivatives
ranksys = 1


[taxonomy]
# The ID to use for this taxonomy.  Taxonomy ID 1 is reserved for the MOL backbone
# taxonomy and should not be used.
taxonomyid = 2
# The name of the taxonomy.
name = ButterflyNet
# Whether this is a master taxonomy for MOL.
ismaster = True


[root]
# These settings specify the root taxon_concept for this taxonomy.
rank = Order
name = Lepidoptera
# Specifies the taxonomy ID for the root taxon *only*, which may be different from
# the taxonomy ID used for the rest of the taxa in the taxonomy.  For most cases,
# this will be 1 (the MOL backbone taxonomy).
taxonomyid = 1


[citation]
# These settings define the citation information for the taxonomy.
citationstr = ButterflyNew Master Taxonomy list 2016 v 1.0 [based on Based on Gerardo Lamas: Taxonomic checklists of the Butterflies and Skippers (Lepidoptera: Papilionoidea and Hesperioidea). Revised Electronic Edition, 2016.]
authordisplay = ButterflyNet 2016
# url = 
# doi = 

# The remaining settings define citation information for the taxa names.  These
# settings are all optional.

# This option indicates whether the parser should try to fix the casing of author
# name strings.  If "true", each component of the name will be modified so that the
# first letter is uppercase and the remainder is lowercase.  This is not always
# perfect; e.g., names that begin with "Mc" might be incorrectly cased.
fixcasing = false

# This option specifies a single column in the CSV file that contains name authority
# data.  (That is, citation information for each taxon name, such as "Linnaeus 1758".)
# The citation data will be applied to the lowest-level taxon that is present in each
# CSV file row (usually species or subspecies).
nameauthorcol = Citation 

# Settings that specify citation information for a specific rank.  The format is:
#
# citation_Rankname = CSV_column_name
#
# where "Rankname" is a rank name used in the taxonomy database.
#citation_Species = Author
#citation_Subspecies = SubspAuthor


[rank_mappings]
# The definitions in the rank_mappings section indicate which columns from the input
# CSV file contain taxonomy information and how they map to the rank names used in
# the database.  The format is:
#
# CSV_column_name: database_rank_name
#
# For example, to indicate that the column "ScientificName" in the source CSV file
# contains the species name, the following definition would be used:
#
# ScientificName: Species
#
# If a column name in the CSV file matches the rank name in the database, then the
# definition would be written like this:
#
# Family: Family
#
# "_ParseGenus" is a special pseudo-column name that indicates the genus name for each
# taxon is not provided as a column in the CSV file and should instead be parsed from
# the species name string.  It is used like this:
#
# _ParseGenus: Genus
#
# Similarly, "_ParseSubspecies" is a special pseudo-column name that indicates that
# subspecies names are not provided in a separate column and should instead be parsed
# from the species name string.  It is used like this:
#
# _ParseSubspecies: Subspecies
#
Family: Family
Subfamily: Subfamily
Tribe: Tribe
Subtribe: Subtribe
Genus: Genus
Subgenus: Subgenus
Species: Species
Subspecies: Subspecies

[synonyms]
# The definitions in this section specify how taxon name synonyms should be parsed
# from the input CSV file.  Synonyms will be applied to the lowest-level taxon that
# is present in each CSV file row.  E.g., if a row contains a subspecies name, then
# the synonyms are assumed to apply to the subspecies.  If the row contains only a
# species name (no subspecies), then the synonyms are assumed to apply to the species
# name.  This section is optional.

# The column containing the synonyms.
colname = Synonyms
# The separator character used to delimit multiple synonyms.  If this setting is not
# defined, ',' is used by default.
separator = ,
